{% extends "base.html" %}
{% load thumbnail %}
{% block title %}
  <title>{{ title_follow }}</title>
{% endblock title %}
{% block content %}
  <h1>{{ title_follow }}</h1>
  {% include '../includes/switcher.html' %}
  {% for post1 in page_obj %}
    <ul>
      <li>
        Автор: {{ post1.author.get_full_name }}
      </li>
      <li>
        Дата публикации: {{ post1.pub_date|date:"d E Y" }}
      </li>
    </ul>
    {% thumbnail post1.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
    <p>{{ post1.text|safe }}</p>
    {% if post1.group %}
      <a href="{% url 'posts:group_list' post1.group.slug %}">все записи группы</a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include '../includes/paginator.html' %}
{% endblock content %}